/*------------- Variables ------------*/

:root {
  --primary: #e50914;
  --primary-hover: #bf000a;
  --light-primary: #d7d3f8;
  --secondary: #6c757d;
  --white: #ffffff;
  --black: #000000;
  --title-text: #23203c;
  --body-text: #D1D0CF;
  --body-bg: #141414;
  --bg1: #191919;
  --body-border: #393750;
  --gold: #e6c868;
  --black: #000000;
}
